/* Making width description to include content, padding, and border's width */
* {
  box-sizing: border-box;
}

.undotted-list {
  list-style-type: none;
  padding-left: 0;
}

.animal-card {
  width: 330px;
  border: 1px solid #cecece;
  padding: 0 15px 15px;
  box-shadow: 5px 5px 5px #e6e6e6;
}

.animal-desc {
  width: 300px;
  padding: 0 15px;
  border: 1px solid #cecece;
}

.animal-img {
  margin-bottom: 15px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
